body {
    font-family: monospace;
    font-size: 15px;
    color: black;
  }
  
  li {
    font-style: italic;
    color: red;
    /*  font-weight: 400; */
  }
  
  nav{
    text-align: center;
    align-items:  center;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding-top: 11px;
  
  }

img{
  filter: blur(5px);
  width: 500px;
}

.a{
  background: url(https://avatars.mds.yandex.net/i?id=c60a90c4bc976b26f2ffd8020600af6c_l-5251286-images-thumbs&n=13) no-repeat center center;
  text-align: center;
  align-items: center;
  background-size: cover;
}

img:hover{
  filter: blur(0px);
}

  .con{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    background-color: wheat;
    color: white;
  }

  .item {
    color: black;
    padding: 10px;
    border-radius: 5px;
  }


 
  a{
    text-decoration: none;
    color: white;
    padding-inline: 20px;
  }

  a:hover{
    color: blueviolet;
    text-transform: 0.2;

  }